* {
    font-family: Arial, Helvetica, sans-serif;
}


.button {
    text-align: center;
    background-color: white;
    color: black;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
}
h2 {
    background-color: rgb(43, 152, 108);
    color: white;
    text-align: center;
    font-weight: bold;
}

.p{
    font-size: 18px;
}
ul {
    font-size: 18px;
}
ol {
    font-size: 18px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
